* {
	margin: 0;
	padding: 0;
}

.seven {
    width: 407px;
    height: 117px;
	margin: 10px;
	border: 3px dashed #000;
}

p {
    margin: 8px;
}

font {
    font-style: italic;
}

.formula {
    font-size: 23px;
}

.blue_sub {
    color: blue;
    font-size: 15px;

}

.red_sup {
    color: red;
    font-size: 15px;
}
