* {
	margin: 0;
	padding: 0;
}

/* 3.txt */

.one {
	width: 160px;
	height:  120px;
    margin: 15px;
   	background: #f00;
}

.two {
	width: 300px;
	height:  120px;
    margin: 15px;
   	background: #FFa300;
}

.three {
	width: 460px;
	height:  120px;
    margin: 15px;
   	background: #4600ff;
}